/* about-title */
.about-title {
    font-family: var(--fontC);
    font-weight: 700;
    font-size: 12vmax;
    margin-bottom: -4vmax;
    margin-top: -4vmax;
}

/* main-tape */
.main-tape {
    width: 100%;
    height: 8vmax;
    margin-top: 11.2rem;
    background-color: var(--mainColor);
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about-wrapper {
    display: flex;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.about-wrapper .about-tape {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 3.5vmax;
    box-sizing: border-box;
    border-radius: 0.8vmax;
    vertical-align: top;
}

/* ProfileWrap */
.ProfileWrap {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 40vmax;
    margin-bottom: 10px;
}

/* 메인 프로필 사진 */
.profile-picture {
    width: 40%;
    background-color: var(--black100);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-picture .profile {
    width: 80%;
    height: auto;
}

/* 프로필 오른쪽 텍스트 */
.profile-text {
    width: 60%;
    height: 40vmax;

}

/* 프로필 학력 */
.education-section {
    width: 100%;
    height: calc(15vmax - 10px);
    /* 여백을 고려한 높이 조정 */
    background-color: var(--black200);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.eduWrap {
    display: flex;
    margin-bottom: 25px;
    justify-content: left;
    align-items: center;
}

/* 소제목 앞 로고 */
.about-logoImg {
    width: 3%;
    height: auto;
    margin-right: 1vmax;
}

.aboutTitle {
    color: var(--mainColor);
    font-family: var(--fontC);
    font-weight: 600;
    font-size: 28px;
    margin-right: 2vmax;
}

/* 학력 */
.prWrap {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

.prDate {
    font-size: 20px;
    font-family: var(--fontN);
    color: #c0a2d2;
    font-weight: 700;
    margin-right: 1vmax;
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    overflow: hidden;
    /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis;
    /* 넘치는 텍스트를 ...으로 표시 */
}

.prText {
    font-size: 22px;
    font-family: var(--fontN);
    color: var(--white);
    font-weight: 400;
    margin-right: 2vmax;
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    overflow: hidden;
    /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis;
    /* 넘치는 텍스트를 ...으로 표시 */
}

.prSmalltext {
    font-size: 18px;
    font-family: var(--fontN);
    color: var(--white600);
    font-weight: 400;
    white-space: nowrap;
    /* 텍스트를 한 줄로 유지 */
    overflow: hidden;
    /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis;
    /* 넘치는 텍스트를 ...으로 표시 */
}

/* 프로필 경력 */
.Career-section {
    width: 100%;
    height: calc(18.6vmax - 10px);
    background-color: var(--black300);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 0 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

/* 해시 태그 */
.tag-section {
    width: 100%;
    height: 6.4vmax;
    background-color: #444444;
    border-radius: 10px;
    padding: 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* skill */
.skill {
    width: 100%;
    height: 20vmax;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--black100);
    display: flex;
    flex-direction: column;
    padding: 0 140px;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;

}

/* skills */
.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* technology */
.tecTwrap {
    display: flex;
    align-items: center;
}

.tecWrap {
    display: flex;
    gap: 25px;
}

.desWrap {
    display: flex;
    gap: 25px;
    justify-content: end;
}

.skill-img {
    width: 16%;
    margin-top: 20px;
}

/* skillText */
.skillText {
    display: flex;
    margin-top: 10px;
}

.technology-text {
    font-family: var(--fontP);
    font-size: 18px;
    font-weight: 400;
    color: #c0a2d2;
    width: 55%;

}

.design-text {
    font-family: var(--fontP);
    font-size: 18px;
    font-weight: 400;
    color: #c0a2d2;
    width: 46%;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .skill-img {
        width: 30%;
        /* 화면이 작아지면 이미지 크기 조절 */
    }
}


/* personal */
.personal {
    width: 100%;
    height: 20vmax;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.personality {
    width: 55%;
    height: 100%;
    background-color: var(--black200);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.mbti {
    width: 35%;
    margin-top: 30px;
}

.persona {
    width: 35%;
}

.plan,
.design,
.develop {
    width: 15%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--fontC);
    font-size: 40px;
    font-weight: 800;
}

.plan {
    background-color: #c463fda5;
    position: relative;
}

.planSvg {
    position: absolute;
    top: 41%;
    left: 18%;
    stroke-dasharray: 500;
    /* 전체 길이 설정 */
    stroke-dashoffset: 500;
    /* 초기 오프셋 설정 */
    animation: draw 2s linear infinite;
}

@keyframes draw {
    from {
        stroke-dashoffset: 500;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.design {
    background-color: #c463fdd7;
    position: relative;
}

.designSvg {
    position: absolute;
    top: 0%;
    left: 0%;
    stroke-dasharray: 500;
    /* 전체 길이 설정 */
    stroke-dashoffset: 500;
    /* 초기 오프셋 설정 */
    animation: draw 2s linear infinite;
}

@keyframes draw {
    from {
        stroke-dashoffset: 500;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.develop {
    background-color: #C463FD;
    position: relative;
}

/* intro */
.intro {
    width: 100%;
    height: 30vmax;
    margin-bottom: 1vmax;
    border-radius: 1vmax;
    background-color: #e7f73a;
}

.hello {}

.introWrap {}

.introTittle {}

.introLogo {}

.introText {}

/* contactWrap */
.contactWrap {
    width: 100%;
    height: 20vmax;
    margin-bottom: 1vmax;
    border-radius: 1vmax;
    display: flex;
    gap: 1vmax;
}

.contact,
.follow,
.blog {
    width: 33.33%;
    height: 100%;
    margin-bottom: 1vmax;
    border-radius: 1vmax;
}

.contact {
    background-color: #6DFF6C;
}

.follow {
    background-color: #FC70FF;
}

.blog {
    background-color: #5AB0FF;
}

/* copyright */
.copyright {
    width: 100%;
    height: 12vmax;
    background-color: var(--mainColor);
    border-radius: 1vmax;
}