/* aside */
#aside {
    width: 330px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow: hidden;
    /* 스크롤바를 숨기기 */
    overflow-y: scroll;
    /* 스크롤 가능하도록 설정 */
}

#aside::-webkit-scrollbar {
    display: none;
    /* 웹킷 브라우저에서 스크롤바 숨기기 */
}

/* top-bar */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-link {
    text-decoration: none;
    color: var(--black500);
    background-color: var(--bgWhite);
    padding: 4px 15px;
    border-radius: 50px;
    transition: all 0.3s;
    font-family: var(--fontP);
    font-size: 12.5px;
}

.project-link:hover {
    background-color: var(--white200);
}

.switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 27px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bgWhite);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--bgBlack);
    right: 0;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.content {
    text-align: center;
    margin-top: 40px;
}

.aside__title {
    margin-bottom: 5px;
    font-size: 1.5em;
    font-family: var(--fontP);
    font-weight: 400;
    font-size: 16px;
}

.date {
    font-family: var(--fontP);
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 2px;
    color: var(--black500);
}

.time {
    font-family: var(--fontC);
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}

/* 다크 모드 */
body.dark-mode {
    background-color: #181818;
    color: white;
}

/* 다크 모드 클래스에 대한 스타일 */
.dark-mode .slider:before {
    background-color: #181818;
}

body.dark-mode #aside {
    background-color: #181818;
}

body.dark-mode .project-link {
    background-color: var(--bgBlack);
    color: var(--white600);
    transition: ease-in 0.8ms;
}

body.dark-mode .project-link:hover {
    background-color: #292929;
}

body.dark-mode .aside__info {
    background-color: var(--bgBlack);
    color: var(--white600);
    transition: ease-in 0.8ms;
}

body.dark-mode .aside__info:hover {
    background-color: #292929;
}

body.dark-mode .aside__info .infoWrap .aside__show {
    color: var(--white600);
}

body.dark-mode .aside__info .infoWrap .a__info {
    color: var(--white600);
}

body.dark-mode .aside__prject {
    background-color: var(--bgBlack);
    color: var(--white600);
    transition: ease-in 0.8ms;
}

body.dark-mode .aside__prject:hover {
    background-color: #292929;
}


body.dark-mode .aside__prject .as__link .prjectsWrap .pr__info {
    color: var(--white600);
}

body.dark-mode .aside__prject .as__link .prjectsWrap .pr__show {
    color: var(--white600);
}

body.dark-mode .aside__prject .as__link .pr__wrap .pr__Twrap .pr__title {
    color: var(--white);
}

body.dark-mode .aside__prject .as__link .pr__wrap .pr__Twrap .pr__text {
    color: var(--white600);
}

.asideLink {
    display: inline-block;

}

/* aside__info */
.aside__info {
    padding: 20px;
    background: var(--bgWhite);
    border-radius: 8px;
    margin-bottom: 10px;
}

.aside__info:hover {
    background-color: #eaeaea;
}

.aside__info .infoWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.aside__info .a__info {
    font-family: var(--fontP);
    font-size: 12px;
    font-weight: 300;
    color: var(--black500);
}

.aside__info .aside__show {
    font-family: var(--fontP);
    font-size: 12px;
    font-weight: 300;
    color: var(--black500);
}

.aside__info .aside__info__a {
    width: 100%;
    display: block;
    height: 47px;
    border-radius: 8px;
    background-color: var(--mainColor);
    overflow: hidden;
}

.scrolling-wrapper {
    display: flex;
    animation: scroll 10s linear infinite;
    /* Make the scrolling smooth by adjusting the duration */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.scrolling-wrapper img .aside__info__img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    vertical-align: top;
}

.aside__info .aside__about {}

.aside__info .aside__about .aside__text {
    font-family: var(--fontN);
    font-size: 13px;
    line-height: 1.6;
    font-weight: 400;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
}

/* aside__prjects */
.aside__prjects {}

.aside__prject {
    width: 100%;
    height: auto;
    background-color: var(--bgWhite);
    border-radius: 10px;
    padding: 10px 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.aside__prject .as__link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.aside__prject:hover {
    background-color: #eaeaea;
}

.prjectsWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.prjectsWrap .pr__info {
    font-family: var(--fontP);
    font-size: 12px;
    font-weight: 300;
    color: var(--black500);
}

.prjectsWrap .pr__show {
    font-family: var(--fontP);
    font-size: 12px;
    font-weight: 300;
    color: var(--black500);
}

.pr__wrap {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.pr__wrap .pr__ico {
    margin: 0;
    padding: 0;
}



.pr__wrap .pr__ico .pr__png {
    border-radius: 8px;
    margin-right: 18px;
    display: block;
    width: 50px;
}

.pr__wrap .pr__ico .pr__ab {
    border-radius: 8px;
    margin-right: 18px;
    display: block;
    width: 80px;
}

.pr__wrap .pr__Twrap {
    margin: 0;
    padding: 0;
}

.pr__wrap .pr__Twrap .pr__title {
    font-family: var(--fontC);
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin-bottom: 1;
    margin-top: -4px;
}

.pr__wrap .pr__Twrap .pr__text {
    font-family: var(--fontP);
    font-size: 12px;
    font-weight: 400;
    color: var(--black600);
}