#containerIndex {
    padding: 0 10px;
    box-sizing: border-box;
}

/* header */
#header {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}


/* nav */
#nav {
    padding: 0 20px;
    box-sizing: border-box;
}

.navUl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -6%;
    margin-bottom: 5%;
    /* padding: 10px 20px;
    box-sizing: border-box; */
}

.navLi {
    display: inline-block;
}

.navLink {
    display: inline-block;
    font-family: var(--fontP);
    font-weight: 800;
    font-size: 1.4vw;
    letter-spacing: -0.8px;
    transition: color 0.3s ease;
}

.navLink:hover {
    color: var(--mainColor);
}

.navBracket {
    display: inline-block;
    font-style: var(--fontP);
    font-weight: 600;
    font-size: 1.2vw;
}

/* 포트폴리오 리스트 */
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    /* padding: 20px; */
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}

.portfolio-item {
    overflow: hidden;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio-item.odd {
    grid-row: span 1;
}

.portfolio-item.even {
    grid-row: span 2;
}

.portfolio-item:hover {
    transform: translateY(-2px);

}

.indexImg {
    width: 100%;
    height: auto;
    display: block;
    transition: filter 0.2s;
    /* 호버 시 부드럽게 전환 */
    border-radius: 5px;
}

.portfolio-item:hover .indexImg {
    filter: brightness(90%);
}

.indexH3 {
    margin-top: 10px;
    color: var(--mainColor);
    font-family: var(--fontC);
    font-size: 16px;
    font-weight: 700;
}

.indexP {
    color: #666;
    color: var(--black500);
    font-family: var(--fontP);
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: -3px;
}

.indexLink {
    text-decoration: none;
    color: inherit;
    display: block;
}

@media (max-width: 768px) {
    .portfolio-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}