.nicericeI_1,
.nicericeI_8,
.nicericeI_11,
.nicericeI_17,
.nicericeI_23,
.nicericeI_20,
.nicericeI_5 {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.nicericeIwrap_1,
.nicericeIwrap_2,
.nicericeIwrap_8,
.nicericeIwrap_11,
.nicericeIwrap_5 {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    gap: 10px;
}

.nicericeImg2,
.nicericeImg21-1,
.nicericeImg21-2,
.nicericeImg21-3,
.nicericeImg24-1,
.nicericeImg24-2,
.nicericeImg24-3,
.nicericeImg3,
.nicericeImg4,
.nicericeImg6,
.nicericeImg7,
.nicericeImg7-1,
.nicericeImg14,
.nicericeImg15,
.nicericeImg16 {
    width: 33.333%;
    border-radius: 10px;
}

.nicericeIwrap_4,
.nicericeIwrap_7,
.nicericeIwrap_9,
.nicericeIwrap_10,
.nicericeIwrap_3 {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    gap: 10px;
}

.nicericeImg9,
.nicericeImg13,
.nicericeImg19-1,
.nicericeImg19-2,
.nicericeImg22-1,
.nicericeImg22-2,
.nicericeImg23-1,
.nicericeImg23-2,
.nicericeImg12,
.nicericeImg10 {
    width: 50%;
    border-radius: 10px;
}

.nicericeIwrap_6 {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    gap: 10px;
}

.nicericeImg18-1,
.nicericeImg18-2,
.nicericeImg18-3,
.nicericeImg18-4 {
    width: 25%;
    border-radius: 10px;
}