.nice1,
.nice4,
.nice9,
.nice12,
.nice13,
.nice5 {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.niceWrap1,
.niceWrap3,
.niceWrap2 {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    gap: 10px;
}

.nice2,
.nice3 {
    width: 50%;
    border-radius: 10px;
}

.nice10 {
    width: 66%;
    border-radius: 10px;
}

.nice11 {
    width: 36%;
    border-radius: 10px;
}

.nice14 {
    width: 100%;
    margin-bottom: 10px;
    bottom: 10px;
}

.niceImg14 {
    border-radius: 10px;
}

.niceImg1,
.niceImg4,
.niceImg5,
.niceImg2,
.niceImg6,
.niceImg7,
.niceImg9,
.niceImg10,
.niceImg11,
.niceImg12,
.niceImg13,
.niceImg8,
.niceImg3 {
    border-radius: 10px;
}

.nice6,
.nice7,
.nice8 {
    width: 33.333%;
    border-radius: 10px;
}