.way {
    border-radius: 10px;
}

.way1 {}

.way1,
.way5,
.way6,
.way9,
.way12,
.way15,
.way13,
.way16,
.way19,
.way17,
.way18,
.way14,
.way4 {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}


/* wayWrap1 */
.wayWrap1,
.wayWrap3,
.wayWrap2 {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    gap: 10px;
}

.way2,
.way10,
.way11,
.way7,
.way8,
.way3 {
    width: 50%;

}